@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.Cats.Cat_CreateModel
@{
    DateTime now = DateTime.Today;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats App</title>
    <style>
        #h_list {
            font-size: 36px;
            color: blueviolet;
            font-style: italic;
            text-align: center;
        }
        #main_form {
            background-color: rgba(138,43,226,0.2);
            width: 300px;
            border: 2px solid black;
            padding: 10px;
        }
        .but_style {
            font-size: 24px;
            margin: 20px;
        }
        .a_style {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div align="center" id="container">
        <h1 id="h_list">New cat:</h1>
        <form id=main_form method="post" action="">
            <table>
                <tr>
                    <td>
                        <label for="nickname">Nickname:</label>
                    </td>
                    <td>
                        <input type="text" name="nickname" id="nickname" placeholder="input nick">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Gender:</label>
                    </td>
                    <td>
                        <label for="m">male</label>
                        <input type="radio" name="gender" id="m" value="M">
                        <label for="fm">female</label>
                        <input type="radio" name="gender" id="fm" value="F">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="breed">Breed:</label>
                    </td>
                    <td>
                        <select name="breed" id="breed">
                            <option>Scotland</option>
                            <option>Siamese</option>
                            <option>Sphinx</option>
                            <option>British</option>
                            <option>Maine Coon</option>
                            <option>Bengali</option>
                            <option>Oriental</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date_bd">Birthday:</label>
                    </td>

                    <td>
                        <input type="date" name="date_bd" id="date_bd" min="2000-01-01" max="@now">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rating">Rating:</label>
                    </td>
                    <td>
                        <input type="number" name="rating" id="rating" max="5" min="1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">Price:</label>
                    </td>
                    <td>
                        <input type="number" name="price" id="price" step="any" min="1" placeholder="input price">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description">Description:</label>
                    </td>
                    <td>
                        <textarea name="description" id="description" placeholder="fill description" maxlength="200"></textarea>
                    </td>
                </tr>
            </table>
            <button class="but_style">ADD</button>
            <button class="but_style"><a class=a_style asp-page="/Index">BACK</a></button>
        </form>
    </div>
</body>
</html>