@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.Cats.Cat_deleteModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats App</title>
</head>
<body>
    <div align="center" id="container">
        <h1>Delete: @Model.DeletingCat.Nickname</h1>
        <p>
            Are you sure you want to delete?
        </p>
        <form method="post" action="">
            <input type="number" name="id" value="@Model.DeletingCat.Id" hidden />
            <button>DELETE</button>
            <a asp-page="/Index">
                <input type="button" value="CANCEL" />
            </a>
        </form>
    </div>
</body>
</html>
