@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.Cats.Cat_deleteModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats App</title>
    <style>
        #h_list {
            font-size: 36px;
            color: blueviolet;
            font-style: italic;
            text-align: center;
        }
    </style>
</head>
<body>
    <div align="center" id="container">
        <h1 id="h_list">Delete: @Model.DeletingCat.Nickname</h1>
        <p>
            Are you sure?
        </p>
        <form method="post" action="">
            <input type="number" name="id" value="@Model.DeletingCat.Id" hidden />
            <button>YES</button>
            <a asp-page="/Index">
                <input type="button" value="NO" />
            </a>
        </form>
    </div>
</body>
</html>
