@page
@model Calculator.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
</head>
<body>
    <h1></h1>
    @if (hour >= 0 && hour < 6)
    {
        <p>Ночь</p>
    }
    else if (hour >= 6 && hour < 12)
    {
        <p>Утро</p>
    }
    else if (hour >= 12 && hour < 18)
    {
        <p>День</p>
    }
    else
    {
        <p>Вечечр</p>
    }
</body>
</html>
