* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    background-color: darkgrey;
    height: 350px;
    width: 350px;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    padding: 30px;
}

label {
    margin-bottom: 20px;
}

.width_el {
    width: 85px;
}

.section {
    display: flex;
    justify-content: space-between;
}

.calc_section {
    display: flex;
    justify-content: center;
}

.res_section {
    display: flex;
    justify-content: flex-end;
}

#result {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    border: solid 1px;
    border-radius: 10%;
    height: 40px;
    width: 80px;
}

#result {
    font-weight: bold;
    font-size: 18px;
}

.section {
    margin-bottom: 10px;
}