@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cats List</title>
</head>
<body>
	<h1>Вы можете подобраать для себя котика, перейдя по ссылке ниже</h1>

	<p><a asp-page="/Cats/Cats_List">Перейти к выбору</a></p>
</body>
</html>